li{
    list-style: none;
}
.coffe{
    color: brown;
}
.coffe a {
    color: greenyellow;
}
.coffe a:hover{
 color: brown;
}
.title{
    background-color: aquamarine;
}
.title figure{
    border: 10px solid red  ;
}
.qwerty ul{
    display: flex;
    justify-content: center;

}
.qwerty li{
    margin: 0 20px;
}
li:hover{
    color: red;

}
a{
    text-decoration: none;
}