.manu{
   font-size: 30px;
   list-style: none;
   text-decoration: none;
   display: flex;
   justify-content: center;
   background-color: #FBFF0F ;
   font-family: "oswald";
   font-weight: 600;
}
li{
   margin: 20px;
}
.astyle{
   text-decoration: none;
   color:#B30FFF ;
}
.astyle:hover{
   color: #0FD7FF;
}
main{
   margin: 0%;
   padding: 3%;
   width: 470px;
   display: block;
   font-family: "oswald";
   font-size: 18px;
   border: 2px solid black;
   
}
img{
   width: 100%;
   height: 100%; ;
}
