/* .container{
   position: relative;
   width: 80vw;
   height: 80vh;
   background-color: brown;
}
.container div{
   position: absolute;
   width: 50%;
   height: 50%;
   background-color: aqua;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
} */
header {
   display: flex;
   background: #181511;
   color: aliceblue;
   height: 80px;
   align-items: center;
   width: 100%;
   position: fixed;
}
.header {
display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}
.container {
   padding: 0 15px;
   width: 100%;
}

.navigation-container {
   display: flex;
   align-items: center;
}

.navigation-container ul {
   display: flex;
   align-items: center;
   margin: 0;

}

.navigation li {
   list-style: none;
   margin-right: 20px;
   font-family: 'Old Standard TT';
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 24px;

   text-transform: uppercase;

   color: #ACA592;
}

.navigation li:hover, :focus {
   color: #FFAE2B;
   cursor: pointer;
}

.logo-link {
   text-decoration: none;
   font-family: 'Old Standard TT';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 28px;
   color: #FFAE2B;
}

.button-bay {
   width: 147px;
   height: 52px;
   font-family: 'Old Standard TT';
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 22px;

   text-align: center;
   text-transform: uppercase;

   color: #FFAE2B;
   background-color: transparent;
   border: 1px solid #FFAE2B;
}
.pre{
   height: 80px;
}
.hero-wraper {
   background-image: url(/img/hero-img.jpg);
   height: 602px;
   background-position: 100% 100%;
   background-size: cover;
   background-repeat: no-repeat;
}
.hero {
   padding: 0 15px;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   height: 100%;
   align-items: center;
   padding-top: 120px;
}
.hero p{
   font-family: 'Old Standard TT';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
/* identical to box height, or 183% */

text-align: center;
letter-spacing: 2px;
text-transform: uppercase;

color: #FFAE2B;
}
.hero h3{
   font-family: 'Old Standard TT';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 80px;
/* or 114% */
margin: 0;
text-align: center;
letter-spacing: 1px;
margin-bottom: 35px;
color: #FFFFFF;
max-width: 869px;
}
.hero button{
   font-family: 'Old Standard TT';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 22px;
/* identical to box height, or 200% */

text-align: center;
text-transform: uppercase;

color: #181511;
width: 143px;
height: 50px;
background: #FFAE2B;
border: none;
}